<form action="<% if(isLoggedIn) { %>/favourite-list<% } else { %>/login<% } %>" method="POST">
    <input type="hidden" name="id" value="<%= home._id %>">
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Add to
        Favourite</button>
</form>