<!-- Boiler plat -->
<%- include('../partials/head') %>

    <body class=" min-h-screen flex  items-center justify-center">

        <main class=" p-5">
            <div class="flex flex-col justify-center items-center space-x-4 gap-3 max-w-2xl mx-auto py-8 px-4 text-center">
                <!-- Heading -->
                    <svg class="inline w-10 h-10 mb-2 text-[#ff5a5f]" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
                    </svg>
                <h1 class="text-3xl font-bold text-[#ff5a5f]">Thank You for Contacting Us!</h1>
                <!-- Button -->
                <a href="/"
                    class="justify-center inline-block px-6 py-2 mt-3 bg-[#ff5a5f] hover:bg-[#ff4b51] text-white font-semibold rounded shadow  transition">
                    Go Home
                </a>
            </div>
        </main>
    </body>
 
    </html>